* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height:auto;
}
body {
    background: #000000;
    font-family:sans-serif;
    color:#FFF;
    max-width: 1100px;
    height: 100vh;
    margin: auto;
}

.container {
    background: #FF66CC;
    width: 90%;
    height: 100%;
    display: grid;
    grid-gap: 10px;
}

.container {
   
    grid-template-columns: 36rem Auto;
    grid-template-rows: 15% 7% 24% 40% Auto;
    grid-template-areas:
                    "header  header"  
                    "nav     nav"      
                    "secc1   secc2"   
                    "secc3   secc2"   
                    "footer  footer";
}

.container header{
    background:red;
    grid-area: header;
}

.container .nav {
    background: rgb(146, 145, 143);
    grid-area: nav;
}

.container .sec1 {
    grid-area: secc1;
    background: #FFFF99;
}

.container .sec2 {
    grid-area: secc2;
    background: #FFFF99;
}

.container .sec3 {
    grid-area: secc3;
    background: #FFFF99;
    color: #FFF 
}

.container footer{
    background-color:#BDD7EE;
    grid-area: footer;
}

.container .header {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}

.container .button-nav {
    background: #03045E;
    margin-left: 10PX;
    margin-right: 10px;
    width: 115px;
    height: 40px;
    border-radius: 8px;
    border: 0px;
    border-bottom: 3px #03045E;
    cursor: pointer;
}

.container .button-nav.button-foco {
    background-color: #0077B6;
    border-color: #0077B6;
    height: 38px;
    cursor: pointer;
}

.container .button-nav:hover {
    background-color: #0077B6;
    border-color: #0077B6;
    
}

.container .button-nav .ancla {
    text-decoration: none;
    color:#FFF;
    font:bolder;
    
}

.sec1 .form-buscadores {
    font-size: 0.8rem;
    padding: 10px 22px;
    width: 500px;
    border-radius: 5px;
    background-color: #FFF;
    color:#999  
}

.sec1 .form-buscadores input {
    padding: 10px;
    border: solid 1px #999;
    outline: none;
    width: 220px;
}

.sec1 .form-buscadores .btn-buscar-id {
    width: 35%;
    background:#03045E;
    color:#FFF;
    border-radius: 5px;    
}

.sec1 .form-buscadores .btn-buscar-cate {
    width: 35%;
    background:#03045E;
    color:#FFF;
    border-radius: 5px; 
}

.sec1 .form-buscadores .btn-cargar-todos {
    width: 35%;
    background:red;
    color:#FFF;
    border-radius: 5px; 
    margin-left: 30%;
    cursor: pointer;   
}

.sec1 .form-buscadores .btn-cargar-todos .button-foco {
    background-color: #009900;
}

.sec1 .form-buscadores .btn-cargar-todos:hover {
    background-color: #009900;
    border-color: #009900;
}

.sec2 .form-usuario {
    font-size: 0.8rem;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    background-color: #FFF;
    color:#999
    
}

.sec2 .form-usuario input {
    padding: 10px;
    border: solid 1px #999;
    margin-left: 10px;
    outline: none;
    width: 275px;
}

.sec2 .form-usuario .btn-guardar-usuario {
    width: 55%;
    background:red;
    color:#FFF;
    border-radius: 5px; 
    margin-left: 30%;   
}

.sec3 .tb-usuarios {
    width: 90%;
    margin: auto;
    padding: 20px;
}

.sec3 .tb-usuarios, th, td {
    border: 1px solid #A6A6A6;
    padding: 5px 5px;
    border-collapse: collapse;
}

.sec3 .tb-usuarios th{
    background-color: #009900;
    font-weight: 300;
    font-size: 0.8rem;
    color:FFF;
}

.sec3 .tb-usuarios tr:nth(even){
    background-color:#EAEAEA;
    color:#03045E;
}

.sec3 .tb-usuarios tr:nth(odd){
    background-color:#C0C0C0;
    color:#03045E;
}













/*
.container .sec2, .sec1, .sec3 {
    align-items:flex-start;
}
 .container .contenedor { ..... es una simple prueba */
.container .contenedor {
    width: 80px;
    height: 60px;
    background: blue;
    color:#FFF;
    cursor:pointer;
    padding:10px;
    font-size: 40px;
    transition: .4s ease all;
    }

    .container .contenedor:hover {
        background: #FFF;
        color:blue;
        box-shadow: 3px 3px 20px rgba(0,0,0,.15)
    }

