
.sec2 .form-computador {
    font-size: 0.8rem;
    padding: 10px;
    width: 300px;
    height: auto;
    border-radius: 5px;
    background-color: #F2F2F2;
    color:#808080;
    border: solid #C0C0C0 1px;
    
}

.sec2 .form-computador {
    margin: auto;
    padding: 10px 22px;
}

.sec2 .form-computador input {
    background-color: #FFF;
    margin-bottom: 10px;
    padding: 10px;
    border: solid 1px #999;
    outline: none;
    width: 260px;
}

.sec2 .form-computador .btn-guardar-computador {
    width: 60%;
    background:red;
    color:#FFF;
    border-radius: 5px; 
    margin-left: 20%; 
    cursor: pointer; 
    
}

.sec2 .form-computador .btn-guardar-computador:hover {
    background-color: #009900;
    border-color: #009900;
}

.sec3 .tb-computadores {
    width: 98%;
    margin: auto;
    padding: 20px;
    color:#B2B2B2;
}

.sec3 .tb-computadores, th, td {
    background-color: #FFF;
    font-size: 0.80rem;
    border: 1px solid #A6A6A6;
    padding: 5px 5px;
    border-collapse: collapse;
    color:#333333;
}

.sec3 .tb-computadores th{
    background-color: #009900;
    font-weight: 300;
    font-size: 0.75rem;
    color:#FFF;
}